<!DOCTYPE html>
<html itemtype="http://schema.org/VideoGame" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />

    <title>Path</title>

    <meta name="keywords" content="Path, Big Tent Games, Games, Free, FullyFree" />
    <meta name="description" content="Paths are the means to an end." />

    <link rel="stylesheet" href="styles/path.css" media="screen" />
    <script src="helpers/console-enhancer.js" type='text/javascript'></script>

  </head>

  <body>
    <app id="app">
      <audio id="themeMusic" loop>
        <source src="" id="themeSource" type="audio/aac">
      </audio>
      <stage v-cloak :class="{showgrid: showGrid, showpath: showPath}">
        <gameOver v-if="gameOver">
          <h1>Game Over</h1>
        </gameOver>
        <chrome>
          <sullied @click="showGrid = !showGrid">{{numberOfSullied}} {{totalMoves != 0 ? '/ ' + totalMoves : ''}}
          </sullied>
          <share @click="SharePuzzle">Share this {{divider + 'x' + divider}} puzzle</share>
          <quit @click="ResetBoard">↺&#xFE0E;</quit>
        </chrome>
        <playarea>
          <board :class="{disabled: gameOver}">
            <piece :title="piece.id" v-for="piece in pieces" @click="TogglePieceSelection(piece)"
              :class="[piece.state, {sullied: piece.sullied, t: piece.t, r: piece.r, b: piece.b, l: piece.l}]">
              <gild></gild>
            </piece>
          </board>
        </playarea>
        <share @click="ShareSolution">Share your solution</share>
        <p>The object is to rotate the fewest walls to
          create an open path from
          the green corner to the red corner.
        </p>
        <p style="margin-top: 20px;">Start a new puzzle</p>
        <controls>
          <button @click="location.href = 'https://' + location.host + location.pathname+'?board=19'">19x19</button>
          <button @click="location.href = 'https://' + location.host + location.pathname+'?board=21'">21x21</button>
          <button @click="location.href = 'https://' + location.host + location.pathname+'?board=23'">23x23</button>
          <button @click="location.href = 'https://' + location.host + location.pathname+'?board=29'">29x29</button>
        </controls>
        <logo @click="window.open('https://twitter.com/big_tent_games', '_blank')"></logo>
      </stage>
    </app>
    <script id="vue-framework" src="helpers/vue.min.js" type='text/javascript'></script>
    <script src="models/PieceObject.js" type='text/javascript'></script>
    <script src="scripts/path.js" type='text/javascript'></script>
  </body>

</html>